*{
    padding: 0px;
    margin: 10px;

}
.logo{
    margin-left: 60px;
    width: 50px;
}
.topnav{
    text-align: right;
    margin-top: -60px;
    list-style: none;
    
    
}
.topnav a{
    width: 60px;
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
}
.row{
    display: inline-block;
    background-color: rgb(22, 22, 3);
    width: 1100px;
    height: 300px;
    margin-left: 50px;
}
.column{
    display: inline-block;
    padding: 25px;
    width: 190px;
    
}
.hover-shadow{
    width: 210px;
    height: auto;
}

.satish{
    margin-left: 190px;
    margin-top: -100px;
}
.satish1{
    margin-left:  190px;
    margin-top: -10px;
}
.order{
    margin-left: 60px;
    background-color: orangered;
    color: white;
    padding: 6px;
    text-decoration: none;
}
#vamsi{
    margin-left: 570px;
    margin-top: -120px;
}